.container {
    display: flex;
    align-items: center;
    gap: 1rem;
    transform: translate(-1%, -50%);  /* Center and pull up for overlap */
    z-index: 10; 
}

.input {
    border: 1px solid var(--gray-700);
    background: var(--gray-500);
    color: var(--gray-100);
    border-radius: 8px;
    flex: 1;                       
    height: 4rem;
    padding: 1rem;
    min-width: 39.5rem;
   
}

/* input:focus {
    background: var(--gray-300);
    border: 1px solid var(--gray-300);
    color: var(--gray-700);
    outline: none;  
  } */